
$a: #1e383c
$b: #47646f
$c: #8ea6b2
$d: #c3ccd3
$f: #f6f8fa

body
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
  font-size: 14px
  font-family: Arial, Helvetica, sans-serif
  font-weight: normal
  box-sizing: border-box
  background-color: $c

input
  border-radius: 1em
  border: none
  outline: none
  &:focus
    outline: none

button
  outline: none
  border: none
  border-radius: 1em
  &:focus
    outline: none

.btn
  cursor: pointer
  outline: none
  padding: 0.5em 2em

.primary
  color: #fff
  background-color: green





