.main
  display: flex
  height: 92vh
  overflow-x: auto
  &::-webkit-scrollbar
    height: 0.5em
    background-color: $b
  &::-webkit-scrollbar-thumb
    background-color: white
    border-radius: 1em
  &::-webkit-scrollbar-button
    width: 5em
    background-color: $c


.board
  display: flex
  flex-direction: column
  min-width: 20vw
  height: fit-content
  margin: 1em
  padding: 0.5em
  background-color: $b
  border-radius: 0.5em
  &-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-bottom: 1em
    padding: 0 0.5em
    color: $f
    & p
      margin: 0
      letter-spacing: 0.1em
    & span
      font-size: 1.5em
      cursor: pointer
  &-item
    display: flex
    flex-direction: row
    align-items: center
    padding: 0.5em
    background-color: $f
    border-radius: 0.25em
  &-add
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    margin-top: 1em
    color: lighten($b, 35%)
    & span
      font-size: 1.5em
    & p, span
      margin: 0 0.4em
