.main
  display: flex
  flex-direction: row
  height: 92vh
  overflow-x: auto
  &::-webkit-scrollbar
    height: 0.5em
  &::-webkit-scrollbar-thumb
    background-color: #ffffffa8
    border-radius: 1em
  &::-webkit-scrollbar-button
    width: 5em
    background-color: $c

.column
  display: flex
  flex-direction: column
  min-width: 20vw
  width: 20vw
  height: fit-content
  max-height: 85vh
  margin: 1em 1em 0.5em 1em
  padding: 0.5em
  background-color: $b
  border-radius: 0.5em
  &-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-bottom: 1em
    padding: 0 0.5em
    color: $f
    & p
      margin: 0
      letter-spacing: 0.1em
    & span
      font-size: 1.5em
      cursor: pointer
  &-item
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    padding: 0.5em
    margin-bottom: 1em
    background-color: $f
    border-radius: 0.25em
    &-wrapper
      padding: 0.25em
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 0.35em
      &::-webkit-scrollbar-thumb
        background-color: #ffffffa8
        width: 0.2em
        border-radius: 1em

  &-add
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    color: lighten($b, 35%)
    & span
      font-size: 1.5em
    & p, span
      margin: 0 0.4em
    &:hover
      color: $f

.new__column
  background-color: lighten($b, 20%)
  &:hover
    background-color: lighten($b, 5%)

.input
  display: flex
  justify-content: space-between
  flex-direction: column
  padding: 0.5em
  margin-bottom: 0.5em
  &-btn
    display: flex
    align-items: top
    & button:first-child
      border-radius: 0.5em
      padding: 0.6em 1em
      font-size: 1em
    & button:last-child
      background-color: transparent
    &__card
      & button:first-child
        font-size: 0.7em
        & span
          margin: 0
      & button:last-child
        font-size: 1em
  &__card
    margin: 0
    padding: 0
    padding-top: 0.5em


