
.column
  display: flex
  flex-direction: column
  min-width: 20vw
  width: 20vw
  height: fit-content
  max-height: 85vh
  margin: 0 0.5em
  padding: 0.5em
  background-color: $b
  border-radius: 0.5em
  &-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-bottom: 1em
    padding: 0 0.5em
    color: $f
    & p
      margin: 0
      letter-spacing: 0.1em
    & span
      font-size: 1.5em
      cursor: pointer
  &-item // Стили для карточки в колонке
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    padding: 0.5em
    margin-bottom: 0.5em
    background-color: $f
    border-radius: 0.25em
    &-menu
      font-size: 1.5em
    &-content
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      width: -webkit-fill-available
    &__bg
      width: -webkit-fill-available
      margin: auto -0.5em -0.5em -0.5em
      padding-top: 0.8em
      border-bottom-left-radius: 0.2em
      border-bottom-right-radius: 0.2em
    &-wrapper
      padding: 0.25em
      margin-bottom: 0.5em
      overflow-y: auto
      &::-webkit-scrollbar
        width: 0.35em
      &::-webkit-scrollbar-thumb
        background-color: #ffffffa8
        width: 0.2em
        border-radius: 1em

.add-item
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  color: lighten($b, 35%)
  & span
    font-size: 1.5em
    margin: 0 0.5em 0 0.2em
  & p
    margin: 0 0.8em 0 0
  &:hover
    color: $f

.new
  &__column
    background-color: lighten($b, 20%)
    background: rgba(255, 255, 255, .35)
    &:hover
      background-color: lighten($b, 5%)
      color: $b
      background: rgba(255, 255, 255, .60)


