.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 7vh
  max-width: 100vw
  padding: 0 1em
  background-color: $d
  &-logo
    display: flex
    justify-content: center
    height: 80%
    width: 13em
    & img
      height: 100%
  &-plus
    cursor: pointer
    padding: 0.1em 0.4em
    border-radius: 0.25em
    font-size: 1.7em
    color: $b
    background-color: $f
.board-list
  cursor: pointer
  font-size: 1.1em
  padding: 0.5em 0.7em
  color: $b
  & span
    font-size: 1em
  &-items
    display: none
    position: absolute
    right: 1%
    top: 8%
    width: 15vw
    padding: 0.2em 1em
    color: $f
    border-radius: 0.5em
    background-color: $a
