.modal
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  color: $d
  background-color: #00000094
  &-popup
    display: flex
    flex-direction: column
    margin-top: -2em
    padding: 2em
    width: 50vw
    min-height: 70vh
    border-radius: 0.5em
    background-color: $b
  &-main
    width: 70%
    padding: 0 1em 0 0
  &__item
    display: flex
    margin-top: 1em
  &-logo
    font-size: 2em
    min-width: 1em
    padding: 0
    padding-right: 0.5em
  &-content
    display: flex
    flex-direction: column
    flex-shrink: 1
    width: 100%
    max-height: 50vh
    color: $a
    background-color: $f
    border-radius: 0.5em
    & input
      width: -webkit-fill-available
      padding: 0.5em 1em
      border-radius: 0.5em
      outline: none
    & p
      margin: 0.5em
      color: $b
      &:first-child
        color: $a
        font-size: 1.1em
  &-add
    & div
      display: flex
      flex-direction: column
      & button
        margin: 0.5em
        border-radius: 0.25em
        padding: 0.25em 0.5em
  &-close
    text-align: right
    cursor: pointer
    margin-top: -1em
    margin-right: -0.5em
    font-size: 1.7em
  &-btn button
    margin: 0.3em 0
    padding: 0 1em
    color: $f
    background-color: $b
  &-desc
    padding: 0.5em 1em
    border-radius: 0.5em
    color: $a
    background-color: $f

.hide
  display: none

.title, .comments
  margin-top: 1em
.comments
  &-wrapper
    display: flex
    flex-direction: column
    justify-content: start
    max-height: 40vh
    overflow-x: auto
    &::-webkit-scrollbar
      width: 0.35em
    &::-webkit-scrollbar-thumb
      background-color: $a
      width: 0.2em
      border-radius: 1em
    & div
      padding: 0.2em
      margin: 0.5em
      color: $a
      background-color: $c
      border-radius: 0.5em
      & p:first-child
        margin: 0
        padding: 0.25em
        color: $f
        border-bottom: 1px solid $a
      & span
        display: block
        text-align: center
        padding-top: 0.5em
        // width: 100%
        // margin: 1em
        font-size: 0.8em


.wrapper
  display: flex
  font-display: row
  width: -webkit-fill-available